    <head>
        <%= stylesheet_link_tag "application" %>
        <%= javascript_include_tag "application" %>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body class="loading">
 <!--         <div id="preload">
          <img src="assets/1.jpg">
          <img src="assets/2.jpg">
          <img src="assets/3.jpg">
          <img src="assets/4.jpg">
        </div> -->

        <main>

          <section id="slide-1" class="homeSlide">
            <div class="bcg">
              <div class="hsContainer">
              <div class="hsContent">
                <h2>Simple parallax scrolling is...</h2>
              </div>
              </div>
            </div>
        </section>

        <section id="slide-2" class="homeSlide">
          <div class="bcg">
            <div class="hsContainer">
              <div class="hsContent">
                <h2>great for story telling websites.</h2>
              </div>
              </div>
          </div>
        </section>

      <section id="slide-3" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">
              <div class="hsContent">
                <h2>Now go and create your own story</h2>
              </div>
            </div>

          </div>
      </section>

      <section id="slide-4" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">
              <div class="hsContent">
                <h2>and share mine.</h2>
              </div>
            </div>

          </div>
      </section>

    </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/skrollr.js"></script>
        <script src="js/_main.js"></script>

    </body>