<div class="container templates">
  <div id="statspage">
  <div class="row">
   <h1 class="page_titles">GOOD IN NUMBERS</h1>
    <section id="stats">
        <section>
          <h2 class="good">The United States</h2>
            <p>Per the 2010 Census, there were 40.3 million people over the age of 65 in the US, or 13% of the total population.  By 2050, people 65 and older are expected to comprise 20% of the total U.S. population.</p>
            <p>In addition, about 56.7 million people, or 19% of the population, had a disability in 2010, with more than half of them reporting their disability as severe.</p>
            <p>The population group of 85+ is expected to increase from 5.7 million in 2011 to 14.1 million by 2040.</p>
            <p>About 28%, or 11.8 million, of noninstitutionalized older persons live alone.  Of which, 8.4 million are women and 3.5 million are men.</p>
            <p>Almost half of women (46%) age 75+ live alone.</p>
        </section>
      <br>
      <center><hr width="80%"></center>
      <br>
        <section>
          <h2 class= "good">California</h2>
            <p>The elderly age group will have an overall increase of 112 percent during the period from 1990 to 2020. More than half the counties in California will have over a 100 percent increase in this age group. Eleven of these counties will have growth rates of over 150 percent. These counties are located throughout the central and southern areas of the State.</p>
      </section>
      <br>
      <center><hr width="80%"></center>
      <br>
        <section>
          <h2 class= "good">Los Angeles County</h2>
            <p>Roughly 11.5% of Los Angeles County's population of 9.9 million are 65 years and older.  The County expects to see a 50%-99% increase in its elderly population by 2020.</p>
            <p>79% of adults with some form of disability in LA County have a physical disability, 45% have a sensory disability, 17% have a mental health, and 16% have a learning disability.</p>
        </section>
    </section>
  </div>
</div>
</div>

