<div class="container">
    <head>
    </head>
    <body class="loading">
    <main>
      <section id="slide-1" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent1" id="image1">
              <img ng-src="/assets/tgLOGO.png">
            </div>
          </div>
        </div>
      </section>

      <section id="slide-2" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent2">
              <div id="gmainfo">
              <h2>Meet Tomiko,</h2>
               <p> She is a 96 year old woman who fell one day and broke her hip. After she came home from the hospital, her family came to help her as much as they could, but her physical therapy appointments were too frequent and during work hours. I volunteered to pick her up and drive her to her appointments and assist her with simple daily tasks(that we sometimes take for granted). All she really wanted was someone to talk to. Now she lives in a home, but for the time that I could help it made both of our days.</p>
               <p id="signature">Matt K.  -volunteer</p>
              </div>
              <div id="gmapic">
                <img ng-src="/assets/fakegma.png">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-3" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent3">
              <img ng-src="/assets/helpingtg.png">
            </div>
          </div>
        </div>
      </section>

      <section id="slide-4" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent4">
              <img ng-src="/assets/logo.png">
            </div>
          </div>
        </div>
      </section>

    </main>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    </body>
</div>