<div class="container">
    <head>


    </head>
    <body class="loading">

        <main>

          <section id="slide-1" class="homeSlide">
            <div class="bcg">
              <div class="hsContainer">
              <div class="hsContent">
                <h2>Simple parallax scrolling is...</h2>
              </div>
              </div>
            </div>
        </section>

        <section id="slide-2" class="homeSlide">
          <div class="bcg">
            <div class="hsContainer">
              <div class="hsContent">
                <h2>great for story telling websites.</h2>
              </div>
              </div>
          </div>
        </section>

      <section id="slide-3" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">
              <div class="hsContent">
                <h2>Now go and create your own story</h2>
              </div>
            </div>

          </div>
      </section>

      <section id="slide-4" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">
              <div class="hsContent2">
                <img ng-src="/assets/logo.png">
              </div>
            </div>
        </div>
      </section>

    </main>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>



    </body>
</div>