// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reveal-modal {
	height:75%;
	overflow-x:scroll;

}
#myModal.reveal-modal {
	margin-top:-20px;
	height:86%;
	overflow-x:scroll;
	background:rgba(0,0,0, 0.5);
	}
#myModal3.reveal-modal {
	height:30%;
	overflow-x:scroll;
}
.scroll{
	padding:1px;
	width:96%;
	overflow-x:hidden;
	height:75%;
	margin:0 auto;

}
#resultsfield{
	display:inline-block;
	vertical-align: top;
	height:585px;
	width:300px;
	overflow:hidden;
	padding: 10px 10px 50px 10px;
	box-shadow: 0px 1px 1px;
	margin:5px;
	background-color: #BEBCBA;
}
div#resultsfield.ng-scope {
    overflow-x:hidden;
  }
#resultsfieldtwo{
	display:inline-block;
	vertical-align: top;
	height:425px;
	width:315px;
	overflow:hidden;
	padding: 10px 10px 50px 10px;
	box-shadow: 0px 1px 1px;
	margin:5px;
	background-color: #BEBCBA;
}
#workcontainer{
	margin:15px;
	width:280px;
	height:500px;
}
#workcontainertwo{
	margin:10px auto;
	width:280px;
	height:390px;
}
.jobslabel{
	height: 48px;
}
.size{
	font-size: 25px !important;
	margin:2px;
}
.content p{
	margin-top:-15px;
	margin-bottom:-10px;
	font-size:20px;
}