// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reveal-modal {
	height:75%;
	overflow-x:scroll;

}
#myModal.reveal-modal {
	margin-top:-20px;
	height:86%;
	overflow-x:scroll;
	background:rgba(0,0,0, 0.5);
	}
#myModal3.reveal-modal {
	height:30%;
	overflow-x:scroll;
}
