 .loading body {
  background: url('../img/ico_loading.gif') no-repeat center center;
    height: 100%;
  min-height: 100%;
}
body{
  font-family: 'Josefin Slab', serif;
}

table{
  min-width:750px;  
}
div{font-family: 'Josefin Slab', serif;}
.name img{
  height:82px;
  width:110px;
  margin-left:-20px;
}
.bcg {
  /*background-position: center center;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;

}
.templates{
  background-color:#f8f3d9;
  width:100%;
  height:100%;
}
.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hsContent1 {
  float:right;
  width:40%;
  margin-top:175px;
}
.hsContent2{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.45);

 }

 .hsContent2 div{
    display:inline-block;
 }
#gmainfo{
  padding-top:60px;
  width:600px;
  margin-left:100px;

}
#gmainfo p{
  font-size: 25px;
  color:white;
}
#gmainfo h2{
  font-size:50px;
  color:white;
}
#gmapic{
  width:520px;
 float:right;
 padding-top:50px;
 margin-right:100px;
}

.hsContent3{
  width:100%;
  height:100%;
}
.hsContent3 img{
  height:90%;
  margin-left:90px;
  margin-top: 40px;
}
.hsContent4 img{
  height:70%;
  float:right;
  margin-top:120px;
  margin-right:40px;
}


/* Slide 1 */
#slide-1 .bcg {background-image:url('parallax1.jpg')}

/* Slide 2 */
#slide-2 .bcg {background-image:url('parallax9.jpg')}

/* Slide 3 */
#slide-3 .bcg {background-image:url('parallax3.jpg')}


/* Slide 4 */
#slide-4 .bcg {background-image:url('mowing.jpeg')}


