 .loading body {
  background: url('../img/ico_loading.gif') no-repeat center center;
    height: 100%;
  min-height: 100%;
}

.name img{
  height:82px;
  width:110px;
  margin-left:-20px;
}
.bcg {
  /*background-position: center center;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;

}
.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.hsContent1 {
  float:right;
  width:40%;
  margin-top:175px;
}

.hsContent4 img{
  height:70%;
  float:right;
  margin-top:120px;
  margin-right:40px;
}


/* Slide 1 */
#slide-1 .bcg {background-image:url('parallax1.jpg')}

/* Slide 2 */
#slide-2 .bcg {background-image:url('parallax9.jpg')}
#slide-2 {
  margin-left: -450px;
  bottom: 200px;
  top: auto;
}

/* Slide 3 */
#slide-3 .bcg {background-image:url('parallax3.jpg')}
#slide-3 {
  margin-left: -239px;
}
  #slide-3 h2 {
    color: #f2ead6;
    background-color: rgba(0,0,0,0.6);
  }

/* Slide 4 */
#slide-4 .bcg {background-image:url('mowing.jpeg')}
#slide-4 {
  margin-left: -450px;
}
  #slide-4 h2 {
    background: none;
    padding-left: 0;
    padding-right: 0;
  }

